<form [formGroup]="employeeEditForm" (ngSubmit)="saveEmployee()">
<div class="employee-item">
	<div>{{employee.id}}</div>
	<div>
		<span [hidden]="this.isEditing">{{employee.username}}</span>
		<input type="text" [hidden]="!this.isEditing"/>
	</div>
	<div>
		<span [hidden]="this.isEditing">{{employee.phone}}</span>
		<input type="tel" [hidden]="!this.isEditing"/>
	</div>
	<div>
		<span [hidden]="this.isEditing">{{employee.role}}</span>
		<input type="text" [hidden]="!this.isEditing"/>
	</div>
	<div>
		<span [hidden]="this.isEditing">{{employee.role}}</span>
		<input type="text" [hidden]="!this.isEditing"/>
	</div>
	<div>
		<div class="controls" [hidden]="this.isEditing">
			<button class="edit-control inlineBlock" (click)="editEmployee(employee.id)">Edit</button>
			<button class="delete-control inlineBlock"(click)="deleteEmployee(employee.id)">Delete</button>
		</div>
		<div class="controls" [hidden]="!this.isEditing">
			<button class="save-control inlineBlock" (click)="saveEmployee(employee.id)">Save</button>
			<button class="cancel-control inlineBlock"(click)="cancelEmployee(employee.id)">Cancel</button>
		</div>
	</div>
</div>
</form>
