.employee-item > div {
	padding: 10px;
	display: inline-block;
	width: 6rem;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.employee-item > div:first-child {
	width: 1.5rem;
}
.employee-item:odd() {
	background: #fcfcfc;
}
.controls button {
    background: #ccc;
    border: none;
    margin-right: 5px;	
    padding: 2px;
}
.editing-controls {
	left: 10px;
	bottom: 10px;
}
